<div class="game-container">
  <div class="game-container__content">
    <div class="header">
      <app-modal-instrucoes></app-modal-instrucoes>
      <h1 class="game-container__content__title">
        <span>P</span>alavrinha
      </h1>
    </div>

    <p class="game-container__content__level">Level <strong>{{level}}</strong> de <strong>{{totalOfLevels}}</strong></p>

    <div class="game-container__content__buttonLevel" *ngIf="showNewLevelButton">
      <button (click)="changeLevel()">Próximo Level</button>
    </div>

    <div class="game-container__content__buttonLevel" *ngIf="showResetLevelButton">
      <button (click)="changeLevel()" class="tryagain">Tentar novamente</button>
    </div>

    <app-input-letter
      *ngFor="let try of tries; let i = index"
      [isActive]="i === activeTry"
      [index]="i"
      (level)="setLevel()"
    ></app-input-letter>

    <div class="game-container__content__controls">
      <div class="game-container__content__controls__teclado">
        <app-teclado
          [wrongLetters]="wrongLetters"
        ></app-teclado>
      </div>
      <div class="game-container__content__controls__enter">
        <button type="button" class="enter" (click)="matchWords()">
          enter
        </button>
      </div>
    </div>
  </div>
</div>