@import 'colors';

.game-container__content__box {
  padding: 6px 0;
  max-width: 440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  .input-letra__container {
    background: $dark2;
    height: 60px;
    width: 60px;
    display: inline-block;
    margin-right: 8px;
    border-radius: 8px;
    
    &__letra {
      height: 100%;
      font-size: 32px;
      font-weight: 900;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 1s;
      text-transform: uppercase;
    }

    @media(max-width: 1400px) {
      width: 40px;
      height: 40px;

      &__letra {
        font-size: 24px;
      }
    } 

    @media(max-width: 768px) {
      height: 36px;
      width: 36px;
      
    }
  }
  
  .green {
    color: $white;
    background: $green;
    border-radius: 8px;
  }
  
  .yellow {
    color: $white;
    background: $yellow;
    border-radius: 8px;
  }
}